<div class="sidebar">
    <div class="sidebar__logo">
      <img src="https://d3h6ue1fvxa32i.cloudfront.net/assets/tradegecko-mark-3433f1602d5b9c9963f77aaba9fd62cab8d159c2321019719e539434c7f81276.svg" width="70">
    </div>
    <h2 class="sidebar__title">{{item}}</h2>
    {{#link-to "colours"}}
      Colours
    {{/link-to}}
    {{#each-in @navigation as |item data|}}
      <h2 class="sidebar__title">{{item}}</h2>
      <ul>
        {{#each data as |page|}}
          <li>
          {{#link-to "component" page.path}}
            {{page.name}}
          {{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{/each-in}}
</div>
