:scope {
  background-color: #fafafa;
  border-bottom: 0.0625rem solid #e2e6e8;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar-item {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-burger {

}

.burger {

}

.app__top-menu {
  padding-right: 2rem;
}
