:scope {
 padding-top: 0;
 flex-grow: 1;
}

.container {
  margin-top: 0;
  flex-grow: 1;
  display: flex;
}

@media screen and (min-width: 1088px) {
  :scope {
    display: flex;
    padding-top: 4rem;
    flex-grow: 1;
    padding: 3rem 1.5rem;
    padding-bottom: 0.75rem;
  }
}
