:scope {
  padding-top: 55px;
  padding-left: 30px;
  padding-bottom: 12px;
  width: 170px;
  /*background-color: #0e2168;*/
  background-color: #f4f6fa;
}

.title {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: 700;
  /*color:#fff;*/
}

.link, .details-title {
  /*color: #6f9bff;*/
  color:#4b82ff;
  font-size: 14px;
  font-weight:600;

}

.link:hover, .details-title:hover {
  color: #32b4ff;
  text-decoration: none;
}

.details-title {
  display: list-item;
  cursor: pointer;
}


.list-item {

}
@media screen and (min-width: 1088px) {
  .title {

  }

  .link, .details-title {
  }

  :scope {
    border-right: 1px solid #e5e9f1;
  }
}
