:scope {
  margin-bottom: 8px;
}

.link, .details-title {
  color: #9faac6;
  font-size: 17px;
  font-family: proxima-nova;
  font-weight: 500;
}

.link:hover, .details-title:hover {
  text-decoration: none;
  color:#2d3033;
}

.details-title {
  display: list-item;
  cursor: pointer;
}
