:scope {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 12px;
  width: 16.6667%;
}

.title {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 4rem;
}

.link, .details-title {
  color: #6c7279;
  display: block;
  height: 2rem;
  line-height: 2rem;
}

.link:hover, .details-title:hover {
  background-color: #f4f4f5;
}

.details-title {
  display: list-item;
  cursor: pointer;
}


.list-item {

}
@media screen and (min-width: 1088px) {
  .title {
    margin-top: 4rem;
  }

  .link, .details-title {
    height: 3.5rem;
    line-height: 3.5rem;
    margin-left: -1.5rem;
    padding-left: 1.5rem;
  }

  :scope {
    border-right: 0.0625rem solid #e2e6e8;
  }
}
