:scope {
  padding: 50px 30px 0px 30px;
  width: 300px;
  /*background-color: #0e2168;*/
  background-color: #f8fbff;
  position: fixed;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;

}

.sidebar-title {
  margin-top: 80px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  /*color:#fff;*/
}

.link, .details-title {
  color: #9faac6;
  font-size: 17px;
  font-family: proxima-nova;
  font-weight: 500;

}

.sidebar-li {
  margin-bottom: 8px;
}

.sidebar-li:first-child {
  margin-top: 15px;
}

.link:hover, .details-title:hover {
  text-decoration: none;
  color:#2d3033;
}

.details-title {
  display: list-item;
  cursor: pointer;
}

.button {
  display: block;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Proxima Nova", proxima-nova, sans-serif;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  background: rgba(0,0,0,0) linear-gradient(#6ccb34 0%,#32b76b 100%) repeat scroll 0% 0% / auto border-box border-box;
  color: #fff;
}

.button:hover {
  color: #fff;
  text-decoration: none;
}

.list-item {
}


@media screen and (min-width: 1088px) {
  .sidebar-title {
  }

  .link, .details-title {
  }

  :scope {
    border-right: 1px solid #e5e9f1;
  }
}
