@import "font-creator";
@import "colours";
@import "reset";
$base-font-styling: (
  size: 16
);
$gray-6: #FFFFFF;
$gray-4: #FFFFFF;
$c-slate: #FFFFFF;
$gray-1: #FFFFFF;

.content {
  margin-left: 230px;
}
@import "font-families";
@import "font-weights";
@import "font-styles";
@import "sidebar";
@import "alert-box";
