$sidebar-width: 230px;
$size-xl: 20px;
$size-sm: 10px;
$size-xs: 5px;

.sidebar {
  background-color: $c-vhs;
  width: $sidebar-width;
  position: fixed;
  height: 100%;

  &__logo {
    padding: $size-xl;
    color: $c-white;
    font-weight: 600;
    font-family: "Raleway";
    letter-spacing: .05rem;
    text-transform: uppercase;
    text-align: center;

    img {
      margin-right: 5px;
    }
  }

  &__title {
    @include font-rules(h1);
    color: $c-white;
    text-transform: uppercase;
    padding: 0 $size-xl;
    margin-top: $size-xl;
    margin-bottom: $size-sm;
  }

  a {
    @include font-rules(body);
    color: $c-ocean-dark;
    display: block;
    padding: $size-xs $size-xl;
    transition: color .5s ease;

    &:hover, &:active, &:focus {
      text-decoration: none;
    }

    &:hover {
      color: $c-ocean-light;
      transition: color .5s ease;
    }

    &.active {
      color: $c-sky-light;
      font-weight: 600;
    }
  }
}
